<div class="main-outer-skin">
    <div class="main-inner-skin">
        <header>
            <div class="c-row container">
                <div class="c-col-1">
                    <picture>
                        <source srcset="./../../assets/logo/futurehint-mini.png" media="(min-width: 600px)">
                        <img src="./../../assets/logo/futurehint-mini.png" alt="Future Hint">
                    </picture>
                </div>
                <div class="c-col-3">
                    <nav class="c-main-nav">
                        <ul>
                            <li>
                                <a href="#">Notification</a>
                            </li>
                            <li>
                                <a href="#">Checkout</a>
                            </li>
                            <li>
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="container">
            <section class="row">
                <section class="col-md-8">
                    <div class="row">
                        <div class="col-md-9">
                            <article>
                                <h2>Will there be a rain?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim soluta quae cupiditate
                                    praesentium quam tempore id, nisi a dignissimos distinctio, velit facere dolore obcaecati
                                    provident laboriosam? Corrupti, quibusdam excepturi?</p>
                            </article>
                        </div>
                        <div class="col-md-3">
                            <h2 class="bg-primary text-center display-1">77</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <article>
                                <h2>Will there be a rain?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim soluta quae cupiditate
                                    praesentium quam tempore id, nisi a dignissimos distinctio, velit facere dolore obcaecati
                                    provident laboriosam? Corrupti, quibusdam excepturi?</p>
                            </article>
                        </div>
                        <div class="col-md-3">
                            <h2 class="bg-primary text-center display-1">77</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <article>
                                <h2>Will there be a rain?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim soluta quae cupiditate
                                    praesentium quam tempore id, nisi a dignissimos distinctio, velit facere dolore obcaecati
                                    provident laboriosam? Corrupti, quibusdam excepturi?</p>
                            </article>
                        </div>
                        <div class="col-md-3">
                            <h2 class="bg-primary text-center display-1">77</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <article>
                                <h2>Will there be a rain?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim soluta quae cupiditate
                                    praesentium quam tempore id, nisi a dignissimos distinctio, velit facere dolore obcaecati
                                    provident laboriosam? Corrupti, quibusdam excepturi?</p>
                            </article>
                        </div>
                        <div class="col-md-3">
                            <h2 class="bg-primary text-center display-1">77</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <article>
                                <h2>Will there be a rain?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim soluta quae cupiditate
                                    praesentium quam tempore id, nisi a dignissimos distinctio, velit facere dolore obcaecati
                                    provident laboriosam? Corrupti, quibusdam excepturi?</p>
                            </article>
                        </div>
                        <div class="col-md-3">
                            <h2 class="bg-primary text-center display-1">77</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <article>
                                <h2>Will there be a rain?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim soluta quae cupiditate
                                    praesentium quam tempore id, nisi a dignissimos distinctio, velit facere dolore obcaecati
                                    provident laboriosam? Corrupti, quibusdam excepturi?</p>
                            </article>
                        </div>
                        <div class="col-md-3">
                            <h2 class="bg-primary text-center display-1">77</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <article>
                                <h2>Will there be a rain?</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim soluta quae cupiditate
                                    praesentium quam tempore id, nisi a dignissimos distinctio, velit facere dolore obcaecati
                                    provident laboriosam? Corrupti, quibusdam excepturi?</p>
                            </article>
                        </div>
                        <div class="col-md-3">
                            <h2 class="bg-primary text-center display-1">77</h2>
                        </div>
                    </div>
                </section>
                <section class="col-md-4">
                    <aside>
                        <p class="profile">
                            <img src="assets/img/1.jpg" class="rounded-circle" alt="Cinque Terre">
                        </p>
                        <h2>Rajesh Mahadev</h2>
                        <p>
                            <svg height="350" width="200">
                                <line x1="30" y1="10" x2="30" y2="340px" style="stroke:rgb(255,0,0);stroke-width:3" />

                                <line x1="40" y1="50" x2="80" y2="50" style="stroke:rgb(255,0,0);stroke-width:1" />
                                <line x1="40" y1="100" x2="100" y2="100" style="stroke:rgb(255,0,0);stroke-width:2" />
                                <line x1="40" y1="150" x2="80" y2="150" style="stroke:rgb(255,0,0);stroke-width:1" />
                                <line x1="40" y1="200" x2="100" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
                                <line x1="40" y1="250" x2="80" y2="250" style="stroke:rgb(255,0,0);stroke-width:1" />
                                <line x1="40" y1="300" x2="100" y2="300" style="stroke:rgb(255,0,0);stroke-width:2" />

                                <text x="100" y="50" fill="red">GigaBot</text>
                                <text x="120" y="100" fill="red">MegaBot</text>
                                <text x="100" y="150" fill="red">KiloBot</text>
                                <text x="120" y="200" fill="red">Bot</text>
                                <text x="100" y="250" fill="red">MiliBot</text>
                                <text x="120" y="300" fill="red">MicroBot</text>
                            </svg>
                        </p>
                    </aside>
                    <aside>
                        <h2>This is h2 heading</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim soluta quae cupiditate
                            praesentium quam tempore id, nisi a dignissimos distinctio, velit facere dolore obcaecati
                            provident laboriosam? Corrupti, quibusdam excepturi?</p>
                    </aside>
                    <aside>
                        <h2>This is h2 heading</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim soluta quae cupiditate
                            praesentium quam tempore id, nisi a dignissimos distinctio, velit facere dolore obcaecati
                            provident laboriosam? Corrupti, quibusdam excepturi?</p>
                    </aside>
                    <aside>
                        <h2>This is h2 heading</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim soluta quae cupiditate
                            praesentium quam tempore id, nisi a dignissimos distinctio, velit facere dolore obcaecati
                            provident laboriosam? Corrupti, quibusdam excepturi?</p>
                    </aside>
                </section>
            </section>
        </main>
        <footer>
            <p>Copyright &copy; 2021 | All Rights Reserved | Made with <span class="blink">&hearts;</span> in India</p>
        </footer>
    </div>
</div>